@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to XYZ Cafe</h1>
    <div>
        <h2 class="text-align:left">Select your Drink</h2>
       <table>
           <tr>
               <td>
                   <button>Green Tea</button>
               </td>
               <td>
                   <button>Coffee</button>
               </td>
               <td> 
                   <button>Chocolate</button>
               </td>

           </tr>
       </table>
    </div>
    
</div>
